.containers {padding-right:10px;padding-left:10px;margin-right:auto;margin-left:auto;width:1000px;}
.row {margin-right:-15px;margin-left:-15px;background:#fff;}
.col-md-9 {float:left;width:680px;}
.hy-main-content {padding-left:0;}
.col-md-3,.col-sm-12,.col-md-9 {position:relative;min-height:1px;padding-right:10px;padding-left:10px;}
.hy-layout {margin-top:20px;padding:15px;}
.hy-video-head {padding:10px;}
.hy-video-head h4 {padding-bottom:15px;}
.hy-common .item {position:relative;padding:0 10px 10px 80px;margin-top:20px;}
.hy-common .item .num {position:absolute;padding:0;left:10px;top:0;text-align:center;border-radius:5px;}
.hy-common .item .num,.hy-page ul li .num,.hy-page ul li a {border:1px solid #e2e2e2;background-color:#fff;color:#666;}
.hy-common .item .num em {display:block;padding:5px 10px;margin-bottom:2px;font-style:inherit;}
.hy-common .item .num em {border-bottom:1px solid #e2e2e2;}
.hy-common .item .num em {background:#f4f3f3;}
.text-color {color:#09BB07;}
.hy-common .item .num span {display:block;padding:0 10px 2px 10px;font-size:12px;}
.text-muted {color:#999;}
.hy-common .item .content {padding:0;border-radius:5px;}
.hy-common .item .content p {margin:0;padding:10px;border-radius:5px 5px 0 0;}
.hy-common .item .content p {border-bottom:1px solid #e2e2e2;background:#f4f3f3;}
.hy-common .item .content,.hy-common .item .num {border:1px solid #e2e2e2;background-color:#fff;color:#666;}
b,strong {font-weight:700;font-size:15px;}
.pull-right {float:right!important;}
.hy-common .item .content .msg {padding:10px;font-size:15px;}
.hy-page {margin:20px 0;text-align:center;}
.hy-page ul li {display:inline-block;padding:0;margin-left:10px;}
.hy-layout {background-color:#fff;box-shadow:0 1px 4px rgba(0,0,0,0.1);}
.hy-page ul li .num,.hy-page ul li a {display:inline-block;padding:8px 15px;border-radius:4px;}
.col-md-3 {float:left;}
.hy-main-side {padding-left:5px;padding-right:0;width:320px;}
li,ol,ul {margin:0;padding:0;list-style:none;}
.hy-video-head h4 {padding-bottom:15px;font-weight:400;color:#333;font-size:18px;font-family:inherit;line-height:1.1;}
.hy-video-head h4 {border-bottom:1px solid #e2e2e2;}
.margin-0 {margin:0!important;}
.hy-common-text {padding:0 10px;}
.hy-common-text li {padding-bottom:15px;}
textarea.form-control {height:auto;}
.form-control {height:35px;outline:0;-webkit-appearance:none;}
.form-control {display:block;width:88%;height:18px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.pull-right {float:right!important;}
img {vertical-align:middle;}
img {border:0;}
.btn-default {margin-left:0px!important;width:75px;height:35px;border:1px solid #e2e2e2!important;background-color:#fff;color:#666;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn-warning {display:inline-block;padding:6px 7px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid #e2e2e2!important;border-radius:4px;width:70px;height:35px;}
.btn-warning {background-color: #0090e6;border-color: #0090e6;color: #fff;}
