@charset "utf-8";
/* CSS Document */
.bannner { height: 200px; background-position: center 0%; background-repeat: no-repeat; background-color: #17181c;width: 100%; z-index: 1; top: 50px;}
.navbar { border-bottom-width: 0px; }
/*.col-md-3 img { width: 100%; border-top-left-radius: 5px; border-top-right-radius: 5px;transition: all 1s ease 0s; }
.col-md-3 a {display:block;}
.col-md-3 { margin-bottom: 20px; background-color: #FFF; border-radius: 5px; box-shadow: 0 1px 3px rgba(0,0,0,0.18); position: relative;  transition: all 1s ease 0s; overflow:hidden}
    .col-md-3:hover { background-color:#fff;box-shadow: 0 1px 1px rgba(0,0,0,0.7);}
    .col-md-3:hover img{ -webkit-filter:brightness(.5);filter:brightness(.5);-moz-transform:scale(1.05);-webkit-transform:scale(1.05);}
*/
.search-wrap { position: relative; }
.search-wrap .search-txt { width: 100%; border-radius: 5px; padding-left: 30px; outline: none; }
.search-btn { position: absolute; left: 5px; top: 5px; color: #A5A5A5; cursor: pointer; background: none; border: 0; }
.bod { padding-bottom: 50px; }

.banseo{ width: 506px; height: 34px;left:0; right:0; margin:auto;position:absolute; top:120px}
.bantxt{ width: 505px; height: 34px;border: 1px solid #ffffff42;background-color: #f4d707; padding-left: 20px; padding-right: 20px; outline: none; color: #000; border-radius: 5px;opacity: 0.8;}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#666666;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#666666;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#666666;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#666666;
}

.banbutt{position: absolute; right: 0px; background-color: transparent; border-width: 0px;outline: none;}
.banbutt:hover{ color:#fff}

.baniframe{ width: 100%; height: 100%; border-width: 0px; }
.banbk{padding-right: 0px;padding-left: 0px;}
.banjz {text-align: center;padding-bottom:10px}


@media (max-width: 767px) {
	.bannner{display:none;}

}
@media (max-width: 320px) {
    .bannner{display:none;}
}